@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.events {
  @include flex(column, none);
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid $border-color;
  background-color: $secondary-background-color;
  height: 100%;

  @include media-desktop {
    width: $maximum-width;
    margin: 0 auto;
  }

  &__title {
    align-self: center;
    text-decoration: underline;
    margin-top: 0;
  }
}
