//primary colors
$primary-text-color: #190e4f;
$primary-background-color: #ea638c;

//secondary colors
$secondary-text-color: #5b1f59;
$secondary-background-color: #b33c86;

$border-color: #03012c;
$active-color: #d99ac5;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$maximum-width: 1020px;
