@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.nav {
  @include flex(column, space-between);
  align-items: center;
  width: 100%;

  @include media-tablet {
    @include flex(row, space-between);
  }

  @include media-desktop {
    width: $maximum-width;
    margin: 0 auto;
  }

  &__background {
    width: 100%;
    background-color: $primary-background-color;
    border-bottom: 0.2rem solid $border-color;
  }

  &__logo {
    margin: 1rem;
    width: 100%;

    @include media-tablet {
      width: 20%;
    }
  }

  &__internal {
    @include flex(row, space-around);
    align-items: center;
    border-top: 0.2rem solid $border-color;
    width: 100%;

    @include media-tablet {
      width: 60%;
      border-top: none;
    }
  }

  &__link {
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: $primary-text-color;

    // &--active {
    //   text-decoration: underline;
    //   color: #dbb000;
    //   border-radius: 1rem;
    // }

    @include media-tablet {
      font-size: 1.5rem;
    }
  }

  &__input {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 1rem;

    @include media-tablet {
      width: 10rem;
      font-size: 1.5rem;
      height: 3rem;
    }

    @include media-desktop {
      width: 15rem;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid $border-color;
    border-radius: 50%;
  }
}
